202511/
base_anonimizada/
Nt_povoamento
.ipynb_checkpoints/
df_bal.csv
df_prop.csv
df_bal_binario.csv
df_prop_binario.csv
df_prop_binario_comp_fam.csv
fam_pes_cad_11_25_amostra_aplicacao.csv
familias_para_averiguacao_cadastral.csv
analise_ivcad/
analise_ivcad_rf/
fam_pes_cad_11_25_resultado_ml.csv
Script_SQL_geracao_base_ML
Script_SQL_implementar_ML